@font-face {
  font-family: 'Xolonium';
  src: url('../styles/severin-meyer_xolonium/Xolonium-Bold.otf');
  src:
    url('../styles/severin-meyer_xolonium/Xolonium-Bold.otf')format('opentype'),
    url('../styles/severin-meyer_xolonium/Xolonium-Bold.ttf')format('truetype'),
    url('../styles/severin-meyer_xolonium/Xolonium-Regular.otf')format('opentype'),
    url('../styles/severin-meyer_xolonium/Xolonium-Regular.ttf')format('truetype');
}

* {
  box-sizing: border-box;
}

html, body {
  padding: 0;
  margin: 0;
  width: 100%;
}

.chatbox {
  display: flex;
}

/* messages style */

.message_container {
  height: 100vh;
  background-color: #2C2C2C;
  font-family: 'Xolonium';
  font-style: bold;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
  padding-left: 15%;
}

#messages {
  background-color: #202020;
  padding: 10px;
  width: 800px;
}

#messages p {
  margin: 5px 0;
  padding: 0;
}


.message-container {
  display: flex;
  align-self: center;
  margin: 5px 0;
  color: #fff;
}

.message-container .username {
  font-weight: bold;
  color: #849091;
}

.me, .username.me {
  font-weight: bold;
  color: cyan;
}

.message-container .username.me {
  display: flex;
  margin-right: 5px;
}

#chat-input {
  width: 800px;
  background-color: #fff;
}

/* channel box style */



.channel_list {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  padding-inline-start: 0px;
  list-style-type: none;
}

.channel_search_container {
  display: flex;
  flex-direction: column;
  /* flex: auto; */
  background-color: red;
}

.channel_item {
  height: 50px;
}

.channel_item:hover {
  background-color: orange;
}

.channel_search_box {
  font-size: 15px;
}

/* add channel */

.add_channel_container {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  flex-shrink: 0;
  width: 100%;
  align-self: flex-end;
}

.add_channel_container:hover {
  background-color: orange;
}

.add_channel {
  grid-column: 2;
}

.add_channel_button {
  background-color: pink;
  grid-column: 3;
  text-align: center;
  vertical-align: middle;
  line-height: 30px;
  align-self: center;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin-left: 5px;
}
